<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FABbutton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B159E36D1D5713D7000B9635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B159E3811D5713D7000B9635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B159E38C1D5713D7000B9635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
